* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
}

#panel-one {
    background-color: #1f2937;
    padding-left: 240px;
    padding-right: 240px;
    display: flex;
    flex-direction: column;
}

#panel-one .header {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    justify-content: space-between;
    align-items: center;
}

#panel-one .title {
    color: #f9faf8;
}

#panel-one .header > .title {
    font-size: 24px;
    font-weight: bold;
    flex-shrink: 0;
}

#panel-one ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 16px;
}

#panel-one ul a {
    text-decoration: none;
}

#panel-one .text {
    color: #e5e7eb;
    font-size: 18px;
}

#panel-one .container {
    padding-top: 48px;
    padding-bottom: 96px;
    display: flex;
    justify-content: center;
    gap: 96px;
    height: 400px;
}

#panel-one .container * {
    flex: 1;
}

#panel-one .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

#panel-one .content * {
    flex: initial
}

#panel-one .content .title {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: -8px;
}

#panel-one .content button {
    background-color: #3882f6;
    padding: 8px 24px;
    border: none;
    border-radius: 8px;
    color: white;
    width: 96px;
}

#panel-one .content.placeholder {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#panel-two {
    display: flex;
    flex-direction: column;
}

#panel-two .title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

#panel-two .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding-bottom: 64px;
}

#panel-two .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 150px;
    text-align: center;
}

#panel-two .placeholder {
    border: 5px solid #3882f6;
    border-radius: 16px;
    width: inherit;
    height: 150px;
}

#panel-three {
    background-color: #e5e7eb;
    padding: 120px 380px;
}

#panel-three .text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}

#panel-three .text.attribution {
    font-size: 28px;
    font-weight: bolder;
    font-style: normal;
    text-align: right;
    padding-right: 72px;
}

#panel-four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 0;
}

#panel-four .container {
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 1000px;
}

#panel-four .text, #panel-four .title, #panel-four button{
    color: white;
}

#panel-four .title {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 4px;
}

#panel-four button {
    background-color: #3882f6;
    padding: 8px 24px;
    border: none;
    border-radius: 8px;
    border: 2px solid white;
    color: white;
    width: 120px;
    font-size: 16px;
    font-weight: 500;
}